.Vue-Toastification__toast {
  min-width: 220px !important;
  min-height: 40px !important;
  padding: 12px 12px !important;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff !important;
  color: #000000 !important;
}

.Vue-Toastification__toast-body {
  color: inherit;
  font-size: 12px;
}

.Vue-Toastification__toast--success .Vue-Toastification__icon {
  color: #0f9d58;
}

.Vue-Toastification__toast--error .Vue-Toastification__icon {
  color: #d93025;
}
